 .stage {
  -fx-background-color: #212121;
  -fx-font-family: "Courier New", Courier;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-padding: 10px;
}

.top {
  -fx-alignment: center-right;
  -fx-spacing: 10px;
}

.logo {
  -fx-text-fill: white;
  -fx-background-color: #212121;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-padding: 15;
  -fx-font-size: 30px;
  -fx-alignment: center;
}

.number {
  -fx-background-color: grey;
  -fx-background-radius: 4px;
  -fx-padding: 10;
  -fx-alignment: center;
}

.number-label {
  -fx-text-fill: white;
  -fx-font-size: 18px;
}

.number-value {
  -fx-text-fill: white;
  -fx-font-size: 14px;
}

.solved {
  -fx-background-color: #90ee90;
  -fx-background-radius: 4px;
  -fx-padding: 10;
  -fx-alignment: center;
  -fx-font-size: 18px;
  -fx-text-fill: #212121;
}

.instructions {
  -fx-text-fill: #766f65;
  -fx-padding: 8 0 8 0; /* top, right, bottom, left */
}

.board {
  -fx-background-color: grey;
  -fx-padding: 10px;
}

.tile {
  -fx-pref-width: 30px;
  -fx-pref-height: 30px;
  -fx-font-size: 25px;
  -fx-alignment: center;
  -fx-text-fill: #fafafa;
  -fx-background-color: #f1d04c;
}

.tile-0 {
   /* CLUE */
  -fx-background-color: #616161;
  -fx-text-fill: #fafafa;
}

.tile-1 {
   /* SATISFIED CLUE */
  -fx-background-color: #90ee90;
  -fx-text-fill: #212121;
}

.tile-2 {
    /* WALL */
  -fx-background-color: #616161;
}

.tile-3 {
    /*  CORRIDOR */
  -fx-font-size: 5px;
  -fx-background-color: white;
}

.tile-4 {
    /*  ILLEGAL LAMP */
  -fx-font-size: 5px;
  -fx-background-color: #f5635b;
}

.tile-5 {
    /* LAMP */
    -fx-font-size: 5px;
    -fx-background-color: #ffe057;
}

.tile-6 {
    /* LIT */
    -fx-font-size: 5px;
    -fx-background-color: #ffda90;
}

